
* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Morganite-Light';
	src: url(../fonts/Morganite/Morganite-Light.ttf);
}

body, html {
	height: 100%;
	margin: 0px;
}

.ticket_bg {
	/* The image used */
	background-image: url('../img/wilco_tix.png');

	/* Full height */
	height: 105%; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	opacity: 0.85;
}

.ticket_bg_2 {
	/* The image used */
	background-image: url('../img/band_pic.jpg');

	/* Full height */
	height: 70%; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	opacity: 0.85;
}

#all_shows_div {
	overflow: auto;
	background-color:#f3f3f3;
}

#info_div {
	overflow: auto;
	min-height: 100%;
	background-color: #f3f3f3;
}

#name_div {
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 27rem;
	margin: 0px;
	color: #005995;
	font-family: 'Morganite-Light', sans-serif;
}

#arrow_container {
	position:absolute;
	width: 50px;
	height: 50px;
	margin-left:-25px;
	left:50%;
}

#down_arrow {
	width: 100%;
	height: auto;
}

#about_div {
	background-color: #2c2c2c;
	padding: 50px 80px;
}

#about_head {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	font-weight: 100;
	font-style: normal;
	color: #ce9e62;
	margin: 0px;
	text-align: center;
	padding-bottom: 10px;
}

#about_hr {
	width: 100%;
	border: 0;
	height: 1px;
	background: #005995;
}

#about_text {
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	color: #f3f3f3;
	padding-top: 10px;
}

#search_div {
	padding: 50px 80px;
	background-color: #2c2c2c;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#search_head {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75rem;
	font-weight: 100;
	font-style: normal;
	color: #F4360B;
	margin: 0px;
	padding-bottom: 20px;
}

#footer_div {
	height: 45px;
	background-color: #005995;
	text-align: center;
}

#footer_info {
	padding-top: 5px;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem;
	font-weight: 100;
	font-style: normal;
	color: #ce9e62;
}

.search_form {
	width: 70%;
	margin: auto;
}

/* Style the search field */
form.search_form input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: none;
  float: left;
  width: 80%;
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
}

/* Style the submit button */
form.search_form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #005995 ;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search_form button:hover {
  background: #008ae6;
}

/* Clear floats */
form.search_form::after {
  content: "";
  clear: both;
  display: table;
}
	
#title_div {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	padding-top: 10px;
	text-align: center;
}

#title_div h3 {
	margin-bottom: 0px;
	font-weight: 100;
}

#title_div h5 {
	margin: 0px;
	font-weight: 100;
}
	
#main_show_div {
	width: 70%;
    float: left;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #2c2c2c;
    padding: 40px 40px;
}

#stats_div {
	float: right;
    width: 30%;
    margin: auto;
    padding: 40px 20px;
}

#main_show_div table {
	width: 90%;
	border-collapse: collapse;
}

#main_show_div tbody tr:hover {
	background-color: #d9d9d9;
}

td {
	padding: 7.5px;
	text-align: left;
	border-bottom: 1px solid #005995;
	color: #2c2c2c;
}

th {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.25rem;
	padding: 7.5px;
	text-align: left;
	border-bottom: 1px solid #005995;
	color: #2c2c2c;
}

#stats_div p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: medium;
	text-align: left;
	padding: 3px;
}

#rank_table {
	font-family: 'Open Sans', sans-serif;
}

#rank_table td {
	border-bottom: none;
}

a {
    color: #F4360B ;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #F4360B ;
}

#main_show_div a {
	color: #36393B;
}

#main_show_div a:visited {
	color: #36393B;
}

#main_show_div a:hover {
	color: #F4360B ;
}

.header {
	height: 75px;
	background-color: #2c2c2c;
	border-bottom: 2px solid #ce9e62;
}

#header_link {
	padding: 5px 20px;
}

#header_link a {
	color: #005995;
	font-family: 'Morganite-Light', sans-serif;
	font-size: 4em;
}

#header_link a:hover {
	text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #info_div {
  padding-top: 102px;
}

@media only screen and (max-device-width: 770px) {
	/* .ticket_bg {
		background-attachment: scroll;
	} */
	h1 {
		font-size: 10rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	#name_div {
		top: 50%;
	}
	#arrow_container {
		bottom: -100px;
	}
}