* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Hansief';
    src: url(../fonts/Hansief.otf);
}

@font-face {
    font-family: 'HansiefRough';
    src: url(../fonts/HansiefRough.otf);
}

@font-face {
    font-family: 'Chlakh';
    src: url(../fonts/ChlakhDemo.ttf);
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url(../fonts/leaguespartan-bold.ttf);
}

@font-face {
    font-family: 'LiberationSans';
    src: url(../fonts/LiberationSans-Regular.ttf);
}

body {
	margin: 0px;
	background: #F3F3F2 ;
	/* background-image: linear-gradient(to bottom right, #ccf5ff, #fafeff); */
}

#main_show_div {
	width: 60%; 
	margin: auto; 
	padding: 30px; 
	/* background: #fafeff;  */
	/* -moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; */
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #36393B;
}

#title_div {
	font-family: 'Roboto', sans-serif;
	color: #131820 ;
}

#main_show_div table {
	width: 100%;
	border-collapse: collapse;
}

/* #main_show_div tr:nth-child(even) {
	background-color: #e6faff;
} */

#main_show_div tbody tr:hover {
	background-color: #CEEDF4;
}

th, td {
	padding: 7.5px;
	text-align: left;
	border-bottom: 1px solid #131820   ;
	color: #36393B;
}

#home_body { 
    background: url('../img/wilco_tix_2.png') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

#click_shows {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	margin: auto;
	text-align: center;
	color: #131820 ; 
	padding-top: 30px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	margin: auto;
	text-align: center;
	color: #131820 ; 
}

#name_div h3 {
	font-family: 'Hansief';
	font-weight: lighter;
	font-size: 2rem;
	margin: -25px auto auto auto;
	text-align: center;
	color: #131820 ; 
}

h1 {
	font-family: 'Hansief';
	color: #0aa6c9;
	font-size: 12rem;
	font-weight: lighter;
	margin: auto;
	text-align: center;
	padding-top: 250px;
	text-shadow: 3px 3px 3px rgba(0,0,0, .7);
	/* letter-spacing: 3px; */
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	margin: auto;
	text-align: center;
	color: #131820 ; 
}

a {
    color: #F4360B ;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #F4360B ;
}

#search_bar {
	width: 40%;
	margin: 30px auto;
}

form.search_form input[type=text] {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: #ecf4f9;
}

form.search_form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0AA6C9;
    color: white;
    font-size: 20px;
    border: none;
    /* border-left: none; */
    cursor: pointer;
}

form.search_form button:hover {
    background: #F4360B ;
}

form.search_form::after {
    content: "";
    clear: both;
    display: table;
}

form.song_form {
	margin-bottom: 0px;
}

#main_show_div a {
	color: #36393B;
}

#main_show_div a:visited {
	color: #36393B;
}

#main_show_div a:hover {
	color: #F4360B ;
}

.header {
	background: url('../img/wilco_header_sm.jpg') no-repeat center;
	/* background-color: #0aa6c9; */
	height: 180px;
	width: 100%;
}

#header_link {
	float: left;
	font-family: 'Hansief';
	font-size: 4rem;
	text-align: center;
	padding: 10px 15px;
	text-shadow: 2px 2px 2px rgba(0,0,0, .3);
}

.header a {
	color: #0aa6c9;
}

.header a:hover {
	text-decoration: none;
}

#separator {
	height: 1px;
	background-color: #0aa6c9;
}

/* 
.header {
	background: url('../img/wilco_tix.png') no-repeat center;
	margin: auto;
}

.header a, a:visited {
	font-family: 'Hansief';
	text-shadow: 3px 3px 3px rgba(0,0,0, .7);
  text-decoration: none;
}

.navigation li {
	font-size: 1.5em;
	font-weight: bolder;
	list-style: none;
	text-shadow: 1px 1px 1px rgba(0,0,0, .7);
	display: inline-block;
}

.navigation a {
	padding-left: 10px;
	padding-right: 10px;
}

.page-header {
	font-size: 5em;
	text-align: left;
} */


/* #search_container {
	padding-top: 350px;
}

#search_div {
	width: 80%; 
	margin:  25px auto; 
	padding: 30px; 
	background: #fafeff; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black;
	font-family: 'LiberationSans';
	text-align: center;
}

#search_div form {
    overflow: hidden;
    display: block;
	margin: auto;
}

#search_div form label {
    margin-top:12px;
    font-size: 1.15em;
    color: #333333;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    line-height: 1.2;
}

#search_div form input {
    border: 1px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
}


#search_div form input[type='text']{
    width: 22%;
    display: inline!important;
    background: #F9F9F9;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    font-size: 1.1em;
    line-height: 1.4;
    padding: 6px;
} */
