* {
	box-sizing: border-box;
}

@font-face {
    font-family: Hansief;
    src: url(../fonts/Hansief.otf);
}

@font-face {
    font-family: 'HansiefRough';
    src: url(../fonts/HansiefRough.otf);
}

@font-face {
    font-family: 'Chlakh';
    src: url(../fonts/ChlakhDemo.ttf);
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url(../fonts/leaguespartan-bold.ttf);
}

@font-face {
    font-family: 'LiberationSans';
    src: url(../fonts/LiberationSans-Regular.ttf);
}

#main_show_div {
	width: 70%; 
	margin: 25px auto; 
	padding: 30px; 
	background: #fafeff; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black;
	font-family: 'LiberationSans';
	
}

#main_show_div span{
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#home_body { 
    background: url('../img/wilco_tix.png') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

h3 {
	font-family: 'LeagueSpartan';
	font-size: 2rem;
	margin: auto;
	text-align: center;
}

h1 {
	font-family: 'Hansief';
	color: #0aa6c9;
	font-size: 12rem;
	font-weight: lighter;
	margin: auto;
	text-align: center;
	padding-top: 350px;
	text-shadow: 5px 5px 5px rgba(0,0,0, 1);
	}
}



/* html {  */
  /* background: url(../img/wilco_tix.png) no-repeat center center fixed;  */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
/* } */





a {
    color: #FF5A0D;
	text-decoration: none;
}

a:visited {
	color: #ff8850;
}

/* .show_table { */
	/* font-family: Futura, Arial, sans-serif; */
/* } */

/* img#down_arrow { */
	/* display: block; */
	/* max-width:20px; */
	/* max-height:20px; */
	/* width: auto; */
	/* height: auto; */
/* } */